utils/__pycache__/functions.cpython-36.pyc
.ipynb_checkpoints/Fernandes_Jaime_Generative_Language_Model_Report-checkpoint.ipynb
data/database.sqlite
data/reddit_comments-may-2015.zip
data/reddit_comments-may-2015.7z
reddit_extracted_data.csv
reddit_yuge_sample.csv
.ipynb_checkpoints/
